%section.container
  .dashboard
    %ul
      %li
        %a{href: settings_businesses_path, title: "Businesses"}
          .dash_img
            = image_tag "dashboard/business_icon.png", alt: "Businesses"
          .dash_title Businesses
      %li
        %a{href: settings_phone_scripts_path, title: "Scripts"}
          .dash_img
            = image_tag "dashboard/scrip_icon.png", alt: "Scripts"
          .dash_title Scripts
      %li
        %a{href: settings_calendars_path, title: "Calendars"}
          .dash_img
            = image_tag "dashboard/calendars_icon.png", alt: "Calendars"
          .dash_title Calendars
      %li
        %a{href: settings_contacts_path, title: "Contacts"}
          .dash_img
            = image_tag "dashboard/contact_icon.png", alt: "Contacts"
          .dash_title CONTACTS
      %li
        %a{href: settings_call_recordings_path, title: "Recordings"}
          .dash_img
            = image_tag "dashboard/recordings_icon.png", alt: "Recordings"
          .dash_title Recordings
      %li
        %a{href: settings_phone_menus_path, title: "Menus"}
          .dash_img
            = image_tag "dashboard/menus_icon.png", alt: "Menues"
          .dash_title Menus
      %li
        %a{href: settings_voicemails_path, title: "Voicemail"}
          .dash_img
            = image_tag "dashboard/voicemail_icon.png", alt: "Voicemail"
          .dash_title Voicemail
      %li
        %a{href: settings_users_path, title: "Users"}
          .dash_img
            = image_tag "dashboard/users_icon.png", alt: "Users"
          .dash_title Users
      %li
        %a{href: settings_billings_path, title: "Billing"}
          .dash_img
            = image_tag "dashboard/billing.png", alt: "Billing"
          .dash_title Billing