%tr
  %td
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "225"}
      %tr
        %td{:style => "width:37px; height:37px; background:#d1d1d1; vertical-align:middle; text-align:center;"}
          %a{:href => "https://www.facebook.com/yestrak", :style => "display:block;"}
            %img{:alt => "", :src => "#{APP_CONFIG['image_url']}icon_fb.png", :width => "25"}
        %td{:style => "width:10px;"}
        %td{:style => "width:37px; height:37px; background:#d1d1d1; vertical-align:middle; text-align:center;"}
          %a{:href => "https://twitter.com/YesTrak", :style => "display:block;"}
            %img{:alt => "", :src => "#{APP_CONFIG['image_url']}icon_tw.png", :width => "25"}
        %td{:style => "width:10px;"}
        %td{:style => "width:37px; height:37px; background:#d1d1d1; vertical-align:middle; text-align:center;"}
          %a{:href => "https://google.com/+Yestrak", :style => "display:block;"}
            %img{:alt => "", :src => "#{APP_CONFIG['image_url']}icon_gp.png", :width => "25"}
        %td{:style => "width:10px;"}
        %td{:style => "width:37px; height:37px; background:#d1d1d1; vertical-align:middle; text-align:center;"}
          %a{:href => "http://www.linkedin.com/company/yestrak", :style => "display:block;"}
            %img{:alt => "", :src => "#{APP_CONFIG['image_url']}icon_in.png", :width => "25"}
        %td{:style => "width:10px;"}
        %td{:style => "width:37px; height:37px; background:#d1d1d1; vertical-align:middle; text-align:center;"}
          %a{:href => "http://vimeo.com/yestrak", :style => "display:block;"}
            %img{:alt => "", :src => "#{APP_CONFIG['image_url']}icon_vd.png", :width => "25"}
%tr
  %td &nbsp;