%section.page_title
  Change Password
%section.loginBar.remove_padding
  %section.loginWrapper
    %section.created_account_form_wrapper
      = form_tag users_update_user_password_path, id: "frm_change_password", method: :post do |f|
        %section.create_new_form
          %ul
            %li
              %label.label Current Password:
              = password_field_tag 'user[current_password]', nil, :autocomplete => "off", placeholder: "Current Password", class: 'input'
            %li
              %label.label New Password:
              = password_field_tag 'user[password]', nil, :autocomplete => "off", placeholder: "New Password", class: 'input'
            %li
              %label.label Password Confirmation:
              = password_field_tag 'user[password_confirmation]', nil, :autocomplete => "off", placeholder: "Confirm Password", class: 'input'
            %li
              = button_tag "Submit", class: :btn_signin