- appointments_cal.each do |a|
  - if !a[0].repeat? && curr_date - ActiveSupport::TimeZone.new(a[0].calendar.timezone.to_s).utc_offset == a[0].start_at
    = link_to edit_appointment_path(a[0].id)+"?time="+time+"&type="+type,  style: "color:#{a[0].calendar.color};", class: 'fancybox.ajax fancybox' do
      - if (a[0].contact_id).present?
        = "#{a[0].contact.first_name[0,3] + ".."}#{a[0].start_at.in_time_zone(a[0].calendar.timezone.to_s).strftime('%l:%M%P')}"