%br
= "-------------#{Time.now}-------------------------------------------------"
%br
= "tenant = #{@tenant.id}"
%br
= "--------------------------------------------------------------"
%br
= "gate = #{@gate}"
%br
= "--------------------------------------------------------------"
