%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %title YesTrak - Welcome
      :css
        * {
            padding: 0;
            margin: 0;
        }
        body, html {
            background: #f2f2f2;
            font: normal 14px Arial, Helvetica, sans-serif;
        }
    %body
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background:#f2f2f2; text-align:center;", :width => "100%"}
      %tr
        %td{:align => "center"}
          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            = render partial: 'mailer_partials/partner_email_header'
            %tr
              %td{:align => "center"}
                %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width:800px; margin:0 auto;"}
                  %tr
                    %td{:style => "height:45px; line-height:0; font-size:0;"}
                  %tr
                    %td{:style => "background:#ffffff; text-align:center;"}
                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                        %tr
                          %td{:colspan => "5", :style => "height:30px; line-height:0; font-size:0;"}
                        %tr
                          %td{:style => "width:27px;"}
                          %td{:style => "width:70px; vertical-align:top;"}
                            %img{:alt => "", :src => "#{APP_CONFIG['image_url']}icon_01.png", :width => "70"}/
                          %td{:style => "width:32px;"}
                          %td{:style => "width:644px; vertical-align:top; text-align:left;"}
                            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                              %tr
                                %td{:style => "font:normal 25px Arial, Helvetica, sans-serif; color:#21afd7; text-transform:uppercase;"} Help is on the way!
                              %tr
                                %td{:style => "font:italic 14px Arial, Helvetica, sans-serif; color:#a1c53e;"}= @partner_help.created_at.strftime("%B %d, %Y at %l:%M%P")
                              %tr
                                %td{:style => "height:27px; line-height:0; font-size:0;"} &nbsp;
                              %tr
                                %td{:style => "font:normal 15px/30px Arial, Helvetica, sans-serif; color:#1e1e1f;"}
                                  We just received your question. A YesTrak representative will be in touch shortly with an answer.
                              %tr
                                %td{:style => "height:50px; line-height:0; font-size:0;"}
                              %tr
                                %td
                                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                    %tr
                                      %td{:colspan => "2", :style => "font:bold 15px Arial, Helvetica, sans-serif; color:#21afd7; text-transform:uppercase;"} Help Form Information:
                                    %tr
                                      %td{:style => "font:normal 15px/22px Arial, Helvetica, sans-serif; color:#1e1e1f;", :width => "16%"} Question:
                                      %td{:style => "font:normal 15px/25px Arial, Helvetica, sans-serif; color:#1e1e1f;", :width => "84%"}= @partner_help.question
                                    %tr
                                      %td{:style => "font:normal 15px/22px Arial, Helvetica, sans-serif; color:#1e1e1f;"} Details:
                                      %td{:style => "font:normal 15px/22px Arial, Helvetica, sans-serif; color:#1e1e1f;"}= @partner_help.details
                                    %tr
                                      %td{:style => "font:normal 15px/22px Arial, Helvetica, sans-serif; color:#1e1e1f;"} First Name:
                                      %td{:style => "font:normal 15px/22px Arial, Helvetica, sans-serif; color:#1e1e1f;"}= @partner_help.first_name
                                    %tr
                                      %td{:style => "font:normal 15px/22px Arial, Helvetica, sans-serif; color:#1e1e1f;"} Last Name:
                                      %td{:style => "font:normal 15px/22px Arial, Helvetica, sans-serif; color:#1e1e1f;"}= @partner_help.last_name
                                    %tr
                                      %td{:style => "font:normal 15px/22px Arial, Helvetica, sans-serif; color:#1e1e1f;"} Phone:
                                      %td{:style => "font:normal 15px/22px Arial, Helvetica, sans-serif; color:#1e1e1f;"}= '(' + @partner_help.area_code + ') ' + @partner_help.phone1 + '-' + @partner_help.phone2
                                    %tr
                                      %td{:style => "font:normal 15px/22px Arial, Helvetica, sans-serif; color:#1e1e1f;"} Email:
                                      %td{:style => "font:normal 15px/22px Arial, Helvetica, sans-serif; color:#1e1e1f;"}
                                        %a{:href => "mailto:footdoc27@hotmail.com", :style => "color:#1e1e1f; text-decoration:underline;"}= @partner_help.email
                              %tr
                                %td{:style => "height:27px; line-height:0; font-size:0;"} &nbsp;
                              %tr
                                %td{:style => "font:normal 15px/20px Arial, Helvetica, sans-serif; color:#1e1e1f;"}
                                  A member of our customer care team will review this message and get back to you as soon as possible.

                              = render partial: 'mailer_partials/dotted_line'
                              = render partial: 'mailer_partials/tag_line'
                              = render partial: 'mailer_partials/social_links'
                          %td{:style => "width:27px;"}
                        %tr
                          %td{:colspan => "5", :style => "height:30px; line-height:0; font-size:0;"}
                  = render partial: 'mailer_partials/unsubscribe_line'

