%br
= "-------------#{Time.now}-------------------------------------------------"
%br
= "subscription = #{@subscription}"
%br
= "--------------------------------------------------------------"
%br
= "kind = #{@kind}"
%br
= "--------------------------------------------------------------"
%br
= "status = #{@status}"
%br
= "--------------------------------------------------------------"
%br
= "plan = #{@plan}"
%br
= "--------------------------------------------------------------"
