%br
= "-------------#{Time.now}-------------------------------------------------"
%br
= "date = #{@date}"
%br
= "--------------------------------------------------------------"
%br
= "time = #{@time}"
%br
= "--------------------------------------------------------------"
%br
= "count = #{@count}"