/ bof page title
%section.page_title
  the phone number
/ eof page title
/ bof pick number Boxes
%section.pick-number
  %section.current_number
    %label The current phone number for this voicemail box is:
    = text_field_tag nil, @twilio_number.try(:print_phone_line), disabled: true
  %section.swap_number
    %span Do you need to swap out this phone number?
    %ul
      %li
        = radio_button_tag(:phone_number_swap, 'false', true)
        = label_tag(:phone_number_swap_false, 'No')
      %li
        = radio_button_tag(:phone_number_swap, 'true')
        = label_tag(:phone_number_swap_true, 'Yes')
  %p.pnBox
    If yes, please pick a new phone number for this voicemail box:
    -#%span (This is where callers will be routed to hear your voicemail box).
  = render partial: 'settings/shared/search_number', locals: {phone_number: @voicemail, toll_free: true, swap: true}
  / bof Displaying results
  %section.displaying_results#displaying_results_local
  %section.displaying_results#displaying_results_tollfree
  / eof Displaying results
  / eof pick number Boxes
%section.form_action
  %ul
    %li
      = link_to raw('<span>Previous</span>'), edit_settings_voicemail_path(@voicemail), :class => "prev_btn"
/ eof container

:javascript
  $(document).ready(function() {
    $("div#tab-container :input").attr("disabled", $('input#phone_number_swap_false').is(':checked'));
  });